<?xml version="1.0" encoding="UTF-8"?>
<bean:beans 
    xmlns:bean="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns="http://www.springframework.org/schema/security" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-3.2.xsd">
  
<http auto-config="true" use-expressions="true">
        <!-- INDEX --> 
        <access-denied-handler error-page="/accessDenied.htm" />  
        <intercept-url pattern="/index.htm" access="hasAnyRole('admin','tester')"/> <!--Interceptar esta direccion cuando el rol del usuario no es admin-->
        <!-- CITY--> 
        <intercept-url pattern="/city.htm" access="hasAnyRole('admin','tester')"/> <!--Admin tiene acceso a ciudad y demas-->
        <intercept-url pattern="/editCity.htm" access="hasAnyRole('admin')"/>                                             
        <intercept-url pattern="/addCity.htm" access="hasAnyRole('admin')"/> 
        <intercept-url pattern="/deleteCity.htm" access="hasAnyRole('admin',)"/> 
        <!--DEPARTAMENT-->
        <intercept-url pattern="/departament.htm" access="hasAnyRole('admin','tester')"/> 
        <intercept-url pattern="/editDepartament.htm" access="hasAnyRole('admin')"/> 
        <intercept-url pattern="/addDepartament.htm" access="hasAnyRole('admin')"/> 
        <intercept-url pattern="/deleteDepartament.htm" access="hasAnyRole('admin')"/>
        <!--COUNTRY-->
        <intercept-url pattern="/country.htm" access="hasAnyRole('admin','tester')"/>
        <intercept-url pattern="/editCountry.htm" access="hasAnyRole('admin')"/>
        <intercept-url pattern="/addCountry.htm" access="hasAnyRole('admin')"/>
        <intercept-url pattern="/deleteCountry.htm" access="hasAnyRole('admin')"/>     
        <!--CURRENCY-->
        <intercept-url pattern="/currency.htm" access="hasAnyRole('admin','tester')"/>
        <intercept-url pattern="/editCurrency.htm" access="hasAnyRole('admin')"/>
        <intercept-url pattern="/addCurrency.htm" access="hasAnyRole('admin')"/>
        <intercept-url pattern="/deleteCurrency.htm" access="hasAnyRole('admin')"/>
        <!--PRODUCT FAMILY-->
        <intercept-url pattern="/productFamily.htm" access="hasAnyRole('admin','tester')"/>
        <intercept-url pattern="/editProductFamily.htm" access="hasAnyRole('admin')"/>
        <intercept-url pattern="/addProductFamily.htm" access="hasAnyRole('admin')"/>
        <intercept-url pattern="/deleteProductFamily.htm" access="hasAnyRole('admin')"/>
        <!----> <!--Etiqueta que valida el formulario de login--> 
        <form-login login-page="/login.htm" default-target-url="/index.htm" 
                    login-processing-url="/j_spring_security_check" authentication-failure-url="/login.htm?error" 
                    username-parameter="username"
                    password-parameter="password" />  
         <logout logout-success-url="/login.htm" logout-url="/salir" />  

         <!-- enable csrf protection       
            <form-login login-page="/login"  default-target-url="/index" authentication-failure-url="/login?error" 
                        username-parameter="usuario" password-parameter="lacontra" />
            <logout logout-success-url="/login?logout"/>
            <csrf/>
            
            
        --> 
        
    </http>
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <password-encoder hash="md5"/>
            <jdbc-user-service data-source-ref="dataSource" 
                               users-by-username-query="SELECT username, password,active as enabled FROM users  WHERE username=?" 
                               authorities-by-username-query="select u.username, r.code as authority, p.active as enabled from users u join membership m on m.user_id = u.id join positions p on m.position_id = p.id
join position_roles pr on pr.position_id = p.id join roles r on r.id = pr.role_id where u.username = ?" />
            <!--users-by-username-query consulta de todos los usuarios que tienen el username seteado por el usuario-->
            <!--authorities-by-username-query consulta de todos los roles que tiene ese usuario.-->
        </authentication-provider>
    </authentication-manager>        
</bean:beans>