<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}" />
	
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script type="text/javascript">
$(document).ready(function() {
    setTimeout(function() {
        $(".content").fadeOut(1500);
    },3000);
 
    setTimeout(function() {
        $(".content2").fadeIn(1500);
    },6000);
});
$().alert('close')
</script>
</head>
<body>
<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Spring Boot</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#about"
						th:href="@{/listar}">Cliente</a></li>
				</ul>
			</div>
		</nav>    
  <!-- verificamos primero si es distinto a nulo, antes de ejecutar el codigo javascript-->
  <div class="successMessage" th:if="${success != null}">
  <div id="content" class="content" >	 
  <div style="position: fixed; top: 70px; right: 20px; width: 400px; z-index: 9999">	
  <div class="alert alert-success fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
  </button><p th:text="${success}"></p></div></div></div></div>
  
  <div class="dangerMessage" th:if="${error != null}">
  <div id="content" class="content" >	 
  <div style="position: fixed; top: 70px; right: 20px; width: 400px; z-index: 9999">	
  <div class="alert alert-danger fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
  </button><p th:text="${error}"></p></div></div></div></div>
  
  <div class="dangerMessage" th:if="${warning != null}">
  <div id="content" class="content" >	 
  <div style="position: fixed; top: 70px; right: 20px; width: 400px; z-index: 9999">	
  <div class="alert alert-warning fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
  </button><p th:text="${warning}"></p></div></div></div></div>
  
  <div class="dangerMessage" th:if="${info != null}">
  <div id="content" class="content" >	 
  <div style="position: fixed; top: 70px; right: 20px; width: 400px; z-index: 9999">	
  <div class="alert alert-info fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
  </button><p th:text="${info}"></p></div></div></div></div>
  
</header>	
	<footer th:fragment="footer" class="container">
		<hr />
		<img th:src="@{/images/spring.png}" alt="Spring logo" />
		<p>
			Powered by <a href="https://projects.spring.io/spring-boot/">Spring
				Boot</a> y <a href="http://www.thymeleaf.org">Thymeleaf</a>.
		</p>
		<p>
			Este proyecto fue desarrollado en IDE Eclipse + Spring Plugins (STS
			Spring Tool), profesor Andrés Guzmán.<br /> &copy; Company 2017,
			Inc. Todos los derechos reservados. Términos de uso y privacidad.<br />
		</p>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>	
</body>
</html>